  <html>
  <head>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
     <link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.4/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="stylesheet/jquery.sidr.light.css"> -->
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <title>Batmap</title>
    <meta name="description" content="Batmap">
    <meta name="author" content="EDA Kahu-2015">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.js"></script>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <a id="simple-menu" href="#sidr">Toggle menu</a>
    <div id="sidr">
      <div id="buttonsmenu">
        <button id="report-button">Report</button>
        <button id="view-button">View</button>
        <button id="my-reports">My Reports</button>
        <button id="community-posts">Community posts</button>
        <button id="map-button">Map</button>
        <button id="vis-button">Vis</button>
      </div>

      <button id="fb-login">Login with facebook</button>

      <form id="reportform">
        <label for="crime">What sort of incident are you reporting?</label>
        <select name="incident" id="incident">
          <option value="1">Assault/harrassment</option>
          <option value="2">Vandalism or criminal damage</option>
          <option value="3">Car theft</option>
          <option value="4">Car break-in</option>
          <option value="5">House burglary</option>
          <option value="6">Other</option>
        </select><br></br>

        <label for="description">In your own words please explain what happened</label>
        <input type="text-area" name="" id="description"><br></br>

        <label for="date">On what date did the incident occur?</label>
        <input type="date" name="" id="date"><br></br>
      </select><br></br>
      <label for="time">Select a time between these hours of when it happend</label>
      <select name="time" id="time">
       <option value="time">1pm - 12pm</option>
     </select>
     <select name="time" id="time">
      <option value="time">1pm - 12pm</option>
    </select><br></br>
    <input type="checkbox" name="" id="happened_before"> This has happened before<br></br>
    <p>Click the map where you would like to drop your pin</p>
    <input type="submit" class="submit_button" value="Submit" id="reportsubmit">
  </form>

  <form id="viewform">
    <label for="description">View all incidents within a</label>
    <input type="number" name="" id="radius">
    <input type="submit" class="submit_button" value="Submit" id="viewsubmit">
  </form>



<script id="example-template" type="text/x-handlebars-template">
  {{#each these}}
  <div class="entry">
    <h1>{{this.properties.title}}</h1>
    <div class="body">
      {{this.properties.description}}
      {{this.properties.date}
    </div>
  </div>
  {{/each}}
</script>


</div>


<nav>
  <% if current_user %>
  Signed in
  <%= link_to 'Sign Out', '/sign_out', method: :delete %>
  <% else %>
  <%= link_to 'Login', '/auth/facebook' %>
  <% end %>
</nav>
<%= yield %>
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= javascript_include_tag 'application' %>
<script src="http://cdn.rawgit.com/noelboss/featherlight/1.3.4/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script>
  $(document).ready(function() {
    $('#simple-menu').sidr();
  });
</script>

</body>
</html>

